.page{
  max-width:1200px;
  margin:0 auto;
  padding:40px 36px 40px;
}

@media (min-width:1600px){
  .page{
    max-width:1400px;
  }
}

@media (min-width:2000px){
  .page{
    max-width:1600px;
  }
}

/* masthead */

.mast-topstrip{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding-bottom:10px;
  border-bottom:1px solid var(--ink-mid);
  margin-bottom:10px;
}

.mast-strip-item{
  font-family:'DM Mono', monospace;
  font-size:0.65rem;   /* smaller overall */
  color:var(--ink-mid);
  letter-spacing:2px;
  text-transform:uppercase;
}

.mast-strip-item.mid{
  font-style:none;
  font-family:'Cormorant Garamond', serif;
  font-size:0.75rem;
  color:var(--ink-mid);
}

/* mast title */

.mast-center{
  padding:18px 0 14px;
  text-align:center;
  position:relative;
}

.mast-title{
  font-family:'Playfair Display', serif;
  font-size:clamp(3.2rem,9vw,6rem);
  font-weight:900;
  color:var(--ink);
  letter-spacing:-3px;
  margin-bottom:20px;
}

.mast-title em{
  font-style:italic;
  color:var(--ink-mid);
}

.mast-subtitle{
  font-size:1rem;
  color:#ffd;
  letter-spacing:3px;
}

/* logo */

.mast-logo{
  position:absolute;
  left:0;
  top:60%;
  transform:translateY(-50%);
  font-size:90px;
  color:var(--ink);
}

/* rules */

.rule-thick{
  height:4px;
  background:#fff;
  margin-bottom:2px;
}

.rule-thin{
  height:1px;
  background:var(--ink-dim);
}

/* about section */

.about-block{
  border:1px solid var(--rule-mid);
  padding:15px;
}

.about-label,
.posts-label{
  font-family:'DM Mono', monospace;
  font-size:0.73rem;
  letter-spacing:4px;
  text-transform:uppercase;
  color:gold;
  padding-bottom:6px;      
  border-bottom:1px solid var(--rule-mid);
  margin-bottom:16px;  
}

.about-inner{
  display:grid;
  grid-template-columns:1.5fr 1fr;
  gap:10px;
}

.about-left{
  font-size:1rem;
  line-height:1.7;
  color:#ffd;
}

.about-right{
  min-height:200px;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:40px;
}

/* profile icons */

.profile-github,
.profile-email{
  font-size:3.5rem;
  color:white;
  transition:0.2s;
}

.profile-github:hover,
.profile-email:hover{
  color:cyan;
  transform:scale(1.05);
}

/* posts section */

.posts-section{
  border:1px solid var(--rule-mid);
  border-top:none;
  padding:15px;
}

.posts-label{
  font-family:'DM Mono', monospace;
  font-size:0.73rem;
  letter-spacing:4px;
  text-transform:uppercase;
  color:gold;
  border-bottom:1px solid var(--rule-mid);
  margin-bottom:16px;
}

.posts-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:16px;
}

.post-card{
  border:1px solid var(--rule-mid);
  padding:25px;
  display:flex;
  flex-direction:column;
  gap:15px;
  cursor:pointer;
  transition:border-color .2s;
}

.post-card:hover{
  border-color:var(--ink-faint);
}

.post-card:hover .pc-title{
  color:var(--gold-light);
}

.pc-num{
  font-family:'DM Mono', monospace;
  font-size:.8rem;
  color:dimgrey;
}

.pc-title{
  font-family:'Playfair Display', serif;
  font-size:1.2rem;
  font-weight:700;
  color:white;
}

.pc-excerpt{
  font-style:italic;
  color:#707070;
  line-height:1.7;
  flex:1;
}

.pc-meta{
  display:flex;
  justify-content:space-between;
}

.tag{
  font-family:'DM Mono', monospace;
  font-size:.75rem;
  color:cyan;
  border:1px solid var(--rule-mid);
  padding:3px 8px;
}

.pc-date{
  font-family:'DM Mono', monospace;
  font-size:.75rem;
  color:#707070;
}

/* show more button */

.posts-more{
  display:flex;
  justify-content:center;
  margin-top:25px;
}

.posts-more button{
  background:none;
  border:1px solid var(--rule-mid);
  color:white;
  padding:8px 18px;
  font-family:'DM Mono', monospace;
  font-size:.7rem;
  letter-spacing:2px;
  cursor:pointer;
  transition:.25s;
}

.posts-more button:hover{
  border-color:var(--gold);
  color:var(--gold);
}

/* footer */

.footer{
  border:1px solid var(--rule-mid);
  border-top:none;
  padding:12px 15px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  font-family:'DM Mono', monospace;
  font-size:0.7rem;
  letter-spacing:2px;
  color:white;
}

@media(max-width:768px){
    .about-inner{
        grid-template-columns:1fr;
        gap:25px;
    }
    .about-right{
        justify-content:flex-start;
        gap:30px;
        margin-top:10px;
    }
    .mast-logo{
        position:static;
        transform:none;
        font-size:40px;
        margin-bottom:4px;
    }
    .page{
        padding:25px 16px 30px;
    }
    .mast-topstrip{
        font-size:0.65rem;
        letter-spacing:1px;
    }
    .posts-grid{
        grid-template-columns:1fr;
    }
    /*.mast-strip-item{
        font-family:'DM Mono', monospace;
        font-size:0.65rem;   
        color:var(--ink-mid);
        letter-spacing:2px;
        text-transform:uppercase;
    }
    .mast-strip-item.mid{
        font-style:italic;
        font-family:'Cormorant Garamond', serif;
        font-size:0.75rem;
        color:var(--ink-mid);
    }*/
}




